:root{
    --black: #181818;
    --darkgrey: #333333;
    --darkgrey-hover: #535353;
    --red: #EE000C;
    
    --font-heading: 'Assistant', sans-serif;
    --font-subheading: 'Roboto Slab', serif;
    --font-primary: 'Source Sans Pro', sans-serif;
}
*{
    margin:0;
    padding:0;
    font-family: var(--font-primary);
}
body{
    overflow-x: hidden;
    background: var(--black);
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button{
    cursor: pointer;
}
ul, ol{
    list-style: none;
}
h1, h2, h3{
    font-family: var(--font-heading);
}
input{
    outline: none;
}
.App{
    width: 100%;
}

/* Navbar */

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3% 0;
    background: #1818189f;
    position: sticky;
    top: 0;
}
.burger-circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.burger{
    display: flex;
    flex-flow: column;
}
.burger-circle:hover{
    background: var(--red);
}
.burger-circle:hover > .burger div{
    background: white;
}
.burger div{
    background: var(--black);
    width: 15px;
    margin:1px 0;
    height: 2px;
}

.search-box{
    display: flex;
    align-items: center;
    position: relative;
}
.search-box input[type='text']{
    font-family: var(--font-primary);
    color: var(--darkgrey-hover);
    border: none;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 3%;
    outline: none;
}
.search-icon{
    border: none;
    position: absolute;
    right: 1%;
    z-index: 1;
    margin-left: 5%;
    padding: 4% 5%;
    color: white;
    border-radius: 50%;
    background: var(--red);
    cursor: pointer;
}
.search-container{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 5% auto;
    flex-wrap: wrap;
}
.search-container .movie{
    height: 100%;
    width: 30%;
}
.search-container .movie:hover{
    width: 30%;
    transform: scale(1.1);
}
.search-msg{
    color: white;
    margin: auto;
}

/* Banner */

.banner-container{
    text-align: center;
    color: white;
}
.hero{
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.banner-container h1{
    margin-top: 3%;
}
.banner-container p{
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
.banner-btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 5% auto;
}
.banner-movie-btn{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
}
.btn-banner-trailer{
    background: none;
    border: 1px solid white;
    border-radius: 12px;
    font-size: 1.5rem;
    color: white;
    padding: 1% 10%;
}

/* Movies & Rows */

.row-section{
    margin: 5% 0;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.row-category{
    color: white;
    font-size: 1.5rem;
    margin: 2%;
}
.movie-row{
    height: 20vh;
    width: 600%;
    overflow-x: hidden;
    display: flex;
}
.movie{
    width: 28%;
    margin: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.movie:hover{
    width: 35%;
}

.movie-page h1{
    color: white;
}
.movie-page{
    width: 100vw;
    height: 100vh;
}
.trailer{
    width: 100%;
    height: 35%;
}
.movie-page h3{
    color: #848484;
    font-weight: 300;
}
.movie-info-main{
    margin: 3%;
}
.movie-page button{
    width: 95%;
    margin: 1% 2.5%;
    font-size: 1.3rem;
    border: none;
    background: white;
    color: black;
}
.movie-page .btn-grey{
    color: white;
    background: var(--darkgrey);
}
.movie-page p{
    color: white;
    width: 95%;
    margin: 3% auto;

}
.movie-page h2{
    color: white;
    margin: 3%;
}
.similar-movies{
    display: flex;
    width: 95%;
    height: 50%;
    margin: auto;
    flex-wrap: wrap;
}
.similar-movies .movie{
    width: 30%;
}
.similar-movies .movie:hover{
    transform: scale(1.1);
}
.trailer-error{
    text-align: center;
    margin: 1% 0;
    
}

/* Sidebar */

.sidebar{
    position: absolute;
    width: 100%;
    height: 300%;
    background: var(--black);
    color: white;
    transition: .5s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
}
.sidebar .profile-pic{
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    margin: 5% 0;
    background-size: cover;
}
.sidebar h2{
    margin: 3% 0;
}
.sidebar .sidebar-links{
    font-size: 1.5rem;
    text-align: start;
    width: 100%;
    margin-top: 10%;
}
.sidebar-links ul li{
    padding: 5%;
    cursor: pointer;
    background: var(--darkgrey)
}
.sidebar-links ul li:hover{
    background: var(--darkgrey-hover);
}
.sidebar-active{
    transform: translateX(0);
}
.sidebar-link{
    color: white;
}

/* My List */

.my-list-container{
    width: 90%;
    height: 25vh;
    margin: 5% auto;
}
.my-list-container h1{
    color: white;
    text-align: center;
    margin-bottom: 5%;
}
.movies-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.movies-container .movie{
    width: 30%;
}
.movies-container .movie:hover{
    transform: scale(1.1);
}

/* Auth Page */

.auth-page{
    width: 90%;
    padding: 15% 5%;
}
.auth-page h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10%;
}
.login-form, .register-form{
    display: flex;
    flex-flow: column;
}
.login-form .login-input, .register-form input{
    font-size: 1.3rem;
    margin: 3% 0;
    background: none;
    border: none;
    color: white;
    border-bottom: 2px solid var(--darkgrey-hover);
}
.login-input::placeholder, .register-form input::placeholder{
    color: white;
}
.login-form input[type='submit'], .register-form input[type='submit']{
    background: var(--red);
    border: none;
    padding: 1% 0;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

/* Profile Page */

.profile-page{
    text-align: center;
    width: 80%;
    padding: 0 10%;
}
.profile-page .avatar{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-size: cover;
    margin: 5% auto;
}
.profile-page-section{
    border-top: 1px solid #666666;
    margin: 3% 0;
    padding: 3% 0;
}
.profile-page-section h2{
    color: white;
    margin: 5%;
}
.profile-page-section form{
    display: flex;
    flex-flow: column;
}
.profile-page-section form input{
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    padding: 2%;
    margin: 1.25%;
    background: #666666;
    color: white;
}
.profile-page-section form input::placeholder{
    color: white;
}
.profile-page-section form button{
    width: 100%;
    background: white;
    border: none;
    font-size: 1.15rem;
    border-radius: 5px;
    margin: 3% 0;
    padding: 1% 0;
}
.profile-page-section p{
    color: white;
}
.btn-delete-account{
    width: 100%;
    background: var(--red);
    color: white;
    border: none;
    font-size: 1.15rem;
    border-radius: 5px;
    margin: 3% 0;
    padding: 1% 0;
}
.profile-page-section .pd-err-msg, .profile-page-section .cp-err-msg{
    text-align: center;
    margin-bottom: 3%;
    color: var(--red);
}